* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
  font-size: 62.5%;
}

body {
  /* body高度为窗口的高度 */
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

/* login */
.login-container {
  background-color: #000;
  color: #fff;
  width: 36rem;
  height: 20rem;
  margin: 22rem auto;
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 30%;
  gap: 2rem;
}

.login-form {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 2rem;
  align-items: center;
}

.login-input {
  align-self: stretch;
}

/* register */
.register-container {
  background-color: #000;
  width: 34rem;
  height: 24rem;
  margin: 22rem auto;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: #fff;
  padding: 2rem;
  display: grid;
  grid-template-rows: auto 25%;
  row-gap: 2rem;
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  align-items: center;
}

.register-input {
  align-self: stretch;
}


/* header */
.header {
  width: 100%;
  background-color: #000;
  font-size: 1.6rem;
  color: #fff;
  /* 清除浮动 */
  overflow: hidden;
}

.user {
  float: right;
  line-height: 5rem;
  margin-right: 2rem;
}

.logout {
  display: block;
  width: 8rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 0.8rem;
  margin-right: 2rem;
  margin-top: 1rem;
  float: right;
}

.logout:link,
.logout:visited {
  color: #fff;
}

.logout:hover,
.logout:active {
  font-weight: bold;
  background-color: #fff;
  color: #000;
  border-radius: 0.3rem;
}

/* container */
.container {
  width: 100%;
  height: 100%;
  background-color: #000;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.merits-container {
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 15rem;
}

.woodenfish-container {
  justify-self: center;
  height: 48rem;
  position: relative;
}

.stick {
  position: absolute;
  z-index: 99;
  width: 20rem;
  height: 20rem;
  background-image: url('../images/stick-white.png');
  background-size: cover;
  /* transform: rotate(45deg); */
}

.woodenfish {
  margin-top: 10rem;
  width: 40rem;
  height: 30rem;
  background-image: url('../images/woodenfish-white.png');
  background-size: cover;
}

.woodenfish:hover {
  background-size: 110%;
}

.merits-1 {
  position: absolute;
  text-align: center;
  top: 20rem;
  left: 0;
  right: 0;
  z-index: 999;
  color: rgba(255, 255, 255, .9);
  font-size: 2rem;
}


/* other */
.hidden {
  display: none;
}

.form-btn {
  width: 15rem;
  height: 3.8rem;
  margin: 0.8rem auto;
}